<div class='container'>
  <div class='page-header'>
    <h1>Temperature Converter <small> Celsius - Fahrenheit</small></h1>
  </div>
  <div class='row'>
    {{temperature-converter celsius=celsius fahrenheit=fahrenheit}}
  </div>
</div>
